.formContainer {
   width: 300px;
   height: 450px;
   padding: 20px;
   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }

 .logo {
   font-size: 30px;
   color: #30C6D3;
   align-items: center;
   font-weight: 700px;
   margin-top: -70px;
   margin-bottom: -140px;
 }

 .h1-register {
   font-size: 20px;
   font-weight: 800;
   margin-top: 0;
   line-height: 1.2;
   color: white;
 }

 .username {
   margin-bottom: 5px;
 }

 .label {
   color: white;
   text-decoration: none;
 }

 .edit{
   margin-top: 25px;
   font-size:large;
   border-radius: 10px;
   background-color: #30C6D3;
   color: white;
 }

 .registerCancel {
   color: white;
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }
