.formContainer {
   width: 300px;
   height: 450px;
   padding: 20px;
   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }
 
 logo {
   font-size: 30px;
   color: slateblue;
   display: flex;
   align-items: center;
   font-weight: 700;
   margin-top: 5px;
 }
 
 .h1-register {
   font-size: 20px;
   margin-top: 0;
   line-height: 1.2;
   color: white;
 }
 
 .username {
   height: 5vh;
   border-radius: 5px;
 }
 
 .label1 {
   color: white;
   text-decoration: none;
 }
 
 .registerCancel {
   color: white;
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }