.loginContainer {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .logo {
    font-size: 30px;
    color: slateblue;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 5px;
  }

  .h1-login {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: white;
  }

  .username {
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .label1 {
    color: white;
    text-decoration: none;
  }

  .password {
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .email {
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .loginButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: slateblue;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .success {
    color: green;
    font-size: 12px;
    text-align: center;
  }

  .failure {
    color: red;
    font-size: 12px;
    text-align: center;
  }

  .loginCancel {
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
