
.logo {
  font-size: 30px;
  color: #30C6D3;
  align-items: center;
  font-weight: 700px;
  margin-top: -70px;
  margin-bottom: -140px;
}

.h1-register {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: -120px;
  margin-top: -80px;
}

.username {
  margin-bottom: 5px;
}

.label {
  color: white;
  text-decoration: none;
}
.form{
  margin-top: -20px;
}

.create{
  margin-top: 5px;
  font-size:large;
  border-radius: 10px;
  background-color: #30C6D3;
  color: white;
  border: .5px solid white;
  box-shadow: 0 4px rgb(110, 112, 112), 0 3px rgba(0,0,0,0.5);
}

.loginCancel {
  color: white;
  cursor: pointer;
}
