
.logo {
  font-size: 30px;
  color: #30C6D3;
  align-items: center;
  font-weight: 700px;
  margin-top: -70px;
  margin-bottom: -140px;
}

.h1-register {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: -120px;
  margin-top: -80px;
}

.username {
  margin-bottom: 5px;
}

.label {
  color: white;
  text-decoration: none;
}


.create{
  margin-top: 25px;
  font-size:large;
  border-radius: 10px;
  background-color: #30C6D3;
  color: white;
}

.loginCancel {
  color: white;
  cursor: pointer;
}
