App {
  text-align: center;
}

.card {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card:hover{
  background-color: rgba(152, 209, 231, 0.916);
}

label{
  width: max-content;
  color: blueviolet;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2.5px solid rgb(194, 23, 200);
  margin: .5px 0;
}

.desc{
  font-size: 14px;
}

.star{
  color: gold
}

.date{
  font-size: 14px;
}

.App-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input {
  border: none;
  border-bottom: 1px solid gray;
}
input::placeholder, textarea::placeholder {
  font-size: 12px;
  color: rgb(172, 198, 198);
}
.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.pin {
  cursor: pointer;  
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout {
  background-color: tomato;
}

.login {
  background-color: teal;
  margin-right: 10px;
}

.register {
  background-color: slateblue;
}

.buttons, .logout {
  position: absolute;
  top: 10px;
  right: 10px;

}

.buttonDelete {
border: none;
padding: 5px;
border-radius: 5px;
color: white;
background-color: red;
cursor: pointer;
margin-top: 10px;
}