body {
  text-align: center;
}

.bg-image {
  width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(4px);
    background-repeat: no-repeat;
}

.header-title1 {
  color: #30C6D3;
  margin-top: -10px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 2.2vw;
  font-weight: bold;
  position:absolute;
  top:0;
  left:0;
}

.btn {
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: teal;
  float: right;
  margin-right: 20px;
  position:absolute;
  top:0;
  right:0;
}

.btn-primary:hover {
  color: teal;
  background-color: white;
}

.btn-secondary {
  color: white;
  background-color: #ED553B;
  width: 30%
}

.btn-secondary:hover {
  color: #ED553B;
  background-color: white;
}

.h2-register {
  font-size: 37px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.h3-register{
  font-size: 30px;
}

.h4-register{
  font-size: 25px;
}

.registerDiv {
  color: white;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
